@import './solid.min.css';
@import './brands.min.css';
@import './fontawesome.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, .5);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(139, 92, 246, 1);
}

::-webkit-scrollbar-track {
    background: transparent;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(6px);
    }
}