---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 - That's an error">		
    <div slot="content" class="relative h-full w-full flex justify-center items-center mx-auto px-5 max-w-3xl">
        <div class="bg-slate-100/50 dark:bg-slate-900/50 p-10 rounded-lg flex flex-col">
           <span class="font-bold text-3xl sm:text-4xl lg:text-5xl text-center">404 - That's an error</span>
           <span class="text-xl sm:text-2xl text-center pt-10">
                Seems like you're lost.<br/>
                Why not try going back to the 
                <a href="/" class="underline underline-offset-4">main page</a>
                and see if you can find your way from there?
           </span>
        </div>        
    </div>   
</BaseLayout>