---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="AniApps">	
    <div slot="content" class="relative mx-auto px-5 max-w-7xl pt-20 pb-4 h-full overflow-auto flex flex-col justify-between items-center">
        <div class="flex flex-col items-center">
            <div class="font-bold text-5xl text-center leading-tight">
                Ever wondered what Apps and Technology
                from Anime would look like in real life?           
            </div>
            <div class="font-normal text-xl text-center text-slate-900 dark:text-slate-300 pt-8 max-w-3xl">
                AniApps features proofs of concept for various apps, websites and other
                technologies seen in anime, manga or japanese pop culture
            </div>
        </div>
        <div class="mt-20 grid gap-20 grid-cols-1 md:grid-cols-2 w-full flex-grow overflow-hidden">
            <div class="w-full h-100 bg-slate-100/50 dark:bg-slate-900/50 rounded-lg min-h-[390px]">
                <div class="bg-[url(/assets/yuukiYuunaMessenger/messenger.webp)] bg-contain bg-no-repeat bg-[left_center] h-full w-1/2" />
            </div>
            <div class="w-full h-100 bg-slate-100/50 dark:bg-slate-900/50 flex justify-center items-center text-lg rounded-lg min-h-[390px]">
                Coming soon
            </div>
        </div>
        <div class="font-normal text-xl text-center text-slate-900 dark:text-slate-300 mt-20">
            Want to see something from your favorite anime made in real life?<br/>
            Send me a message on 
            <a class="underline underline-offset-2" href="https://anilist.co/user/Alzariel/" target="_blank" rel="noopener noreferrer">
                AniList
            </a> 
            or via 
            <a class="underline underline-offset-2" href="https://anilist.co/user/Alzariel/" target="_blank" rel="noopener noreferrer">
                e-mail
            </a>
        </div>
    </div>
</BaseLayout>