---
import YuukiYuunaMessenger from '../components/yuukiYuunaMessenger/YuukiYuunaMessenger.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Yuuki Yuuna Messenger" description="The messenger mobile app used in the anime Yuki Yuna is a Hero. Made with React and SVGs." >
	<link slot="head" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap">
	<style slot="head" >
		:global(.text-outline){
			text-shadow: -1px -1px 0 #3E4F56, 1px -1px 0 #3E4F56, -1px 1px 0 #3E4F56, 1px 1px 0 #3E4F56;
		}
		:global(.text-outline-light){
			text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
		}
		:global(.fairy) {
			animation: bounce 1s ease-in-out 0s infinite alternate;
		}
	</style>
	
	<div slot="content" class="relative pt-14 lg:pt-[calc(45px_+_1rem)] pb-4 h-full overflow-auto">
		<div class="mx-auto px-0 sm:px-5 max-w-7xl grid grid-cols-1 lg:grid-cols-2 gap-20">
			<YuukiYuunaMessenger client:idle />
			<div class="flex flex-col justify-between items-stretch text-justify">  
				<a href="https://anilist.co/anime/20800/" target="_blank" rel="nooopener noreferrer" class="hover:scale-[1.03] active:scale-[0.97] transition-transform" >
    				<img src="https://img.anili.st/media/20800" width="100%" height="auto" class="rounded-lg" alt="link preview" />
				</a> 
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam repellendus illo sunt, nisi ducimus provident ad molestiae maxime. Ducimus aperiam minima praesentium ipsam veniam perferendis nulla expedita accusantium aliquam.
				<video src="/assets/yuukiYuunaMessenger/Reference.webm" class="rounded-lg" height="auto" width="100%" alt="anime source" autoplay loop muted />
			</div>
		</div>
	</div>
</BaseLayout>
