---
import ThemeToggle from './ThemeToggle.tsx';
import AniList from './AniList.tsx'
import Link from './Link.astro';
---

<script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
</script>
<header id="header" class="fixed z-10 p-2 w-full flex justify-center items-center bg-slate-100/70 dark:bg-slate-900/70 backdrop-blur-sm border-b-[1px] border-slate-300 dark:border-slate-700">
    <div class="flex justify-between mx-auto xs:px-5 w-full max-w-7xl">
        <a class="flex justify-center items-center" href="/">
            <img src="/assets/logo.webp" alt="Logo" height="30" width="30" class="scale-75 xs:scale-100">
            <h1 class="ml-2 xs:text-3xl text-xl leading-none font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-violet-500 to-blue-500">
                AniApps
            </h1>
        </a>
        <div class="flex-row flex items-center">
            <AniList client:idle />
            <Link href="mailto:animeappsmadereal@gmail.com" rel="author" title="Contact me via e-mail" className="mr-4 xs:mr-3 xs:hover:scale-[1.2] xs:active:scale-100 xs:transition-transform text-xl xs:text-2xl fas fa-at" />       
            <Link href="http://twitter.com/share?text=Ever%20wondered%20what%20Apps%20and%20Technology%20from%20Anime%20would%20look%20like%20in%20the%20real%20world?&url=https://www.aniapps.dev&hashtags=AniApps" target="_blank" rel="noopener noreferrer" title="Share via Twitter" className="mr-4 xs:mr-3 xs:hover:scale-[1.2] xs:active:scale-100 xs:transition-transform text-xl xs:text-2xl fab fa-twitter" />                  
            <Link href="https://github.com/pgr3931/AnimeAppsMadeReal" target="_blank" rel="author noopener noreferrer" title="See the source-code Github" className="mr-4 xs:mr-3 xs:hover:scale-[1.2] xs:active:scale-100 xs:transition-transform text-xl xs:text-2xl fab fa-github" />                  
            <ThemeToggle client:idle />
        </div>
    </div>
</header>