---
import ThemeToggle from './ThemeToggle.tsx';
import AniList from './AniList.tsx'
---

<script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
</script>
<header id="header" class="absolute z-10 w-full bg-slate-100/70 dark:bg-slate-900/70 border-b-[1px] border-slate-300 dark:border-slate-700 flex justify-center items-center py-2 transition-transform">
    <div class="flex justify-between mx-auto px-5 w-full max-w-7xl">
        <a href="/"><h1 class="text-[2rem] leading-none font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-violet-500 to-blue-500">AniApps</h1></a>
        <div class="flex-row flex items-center">
            <AniList client:idle />
            <a href="https://github.com/pgr3931/AnimeAppsMadeReal" target="_blank" rel="noopener noreferrer" title="Contact me via e-mail" class="mr-3">
                <i class="cursor-pointer hover:scale-[1.2] active:scale-100 transition-transform text-3xl text-transparent bg-clip-text bg-gradient-to-br dark:from-pink-500 dark:to-violet-500 from-violet-500 to-blue-500 fas fa-at"></i>
            </a>          
            <a href="https://github.com/pgr3931/AnimeAppsMadeReal" target="_blank" rel="noopener noreferrer" title="See the source-code Github" class="mr-3">
                <i class="cursor-pointer hover:scale-[1.2] active:scale-100 transition-transform text-3xl text-transparent bg-clip-text bg-gradient-to-br dark:from-pink-500 dark:to-violet-500 from-violet-500 to-blue-500 fab fa-github"></i>
            </a>                   
            <ThemeToggle client:idle />
        </div>
    </div>
</header>