---
import { getLinkPreview } from "link-preview-js";

export interface Props {
  url: string;
}

const { url } = Astro.props;
let data;

try {
  data = await getLinkPreview(url);
} catch(e) {
  console.log(e);
  // TODO
}
---

<a href={url} target="_blank" rel="nooopener noreferrer" class="hover:scale-[1.03] active:scale-[0.97] transition-transform" >
    <img src={data?.hasOwnProperty('images') ? (data as {images: string[]}).images[0] : null} width="100%" height="auto" class="rounded-lg" alt="link preview" />
</a> 