---
import Header from '../components/common/Header.astro';
const {title, description} = Astro.props;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
    <meta name="description" content={description}>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" rel="stylesheet">
    <style>   
        .bg-img {
            box-shadow: inset 0 0 80px 60px rgb(241, 245, 249, 1);   
        }
        :global(.dark .bg-img) {
            box-shadow: inset 0 0 80px 60px rgb(15, 23, 42, 1);   
        }
    </style>
    <slot name="head" />
</head>
<body class="font-['Inter'] bg-slate-100 dark:bg-slate-900 text-black dark:text-slate-100 h-screen overflow-hidden">	
	<Header/>
    <main class="relative pt-[53px] h-full">
        <div class="fixed bg-slate-100 dark:bg-slate-900 h-full w-full">
            <div class="h-full w-full bg-img bg-cover bg-[url(/assets/background.jpg)] opacity-[0.25]"/>
        </div>  
	    <slot name="content" />
    </main> 
</body>
</html>
